<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dojo Dashboard</title>
  </head>
  <body>
    <h1>Listing All Dojos</h1>

    <table>
      <thead>
        <th>Coding Dojo Branch</th>
        <th>Street</th>
        <th>City</th>
        <th>State</th>
        <th>Actions</th>
      </thead>
        <% if @dojos %>
        <% @dojos.each do |d| %>
        <tbody>
        <tr>
          <td><%= d.branch %></td>
          <td><%= d.street %></td>
          <td><%= d.city %></td>
          <td><%= d.state %></td>
          <td><a href="/dojos/<%= d.id %>/show">Show</a></td>
          <td><a href="/dojos/<%= d.id %>/edit">Edit</a></td>
          <td><a href="/dojos/<%= d.id %>"data-method='delete'>Delete</a></td>
        </tr>
        <% end %>
        <% end %>
      <tbody>
    </table>

    <a href="/dojos/new">New Dojo</a>

  </body>
</html>
